<form action="/campgrounds/deleteAll ?_method=" DELETE"" method="POST"
    onsubmit="event.preventDefault(); deleteAllCampgrounds();">
    <button type="submit">Delete All Campgrounds</button>
</form>